@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  color: #fca311;
}

.Flight-Info {
  display: flex;
  padding: 5em;
}

.purple {
  background-color: #3a0085;
}

.col-details {
  margin-left: 7%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.review{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}

.FlightsHeader {
  background-image: url("../assets/Red Planet Ventures/Assets/Images/headerbackBack.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 2em;
  width: 100%;
  height: 40vh;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  flex-direction: column;
}

.FlightsHeader h1 {
  margin-top: 7%;
}

.pricing {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.container {
  padding: 20px;
}

.card {
  background-color: #2b3467;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.card h2 {
  margin-top: 10px;
  font-size: 24px;
}

.card p {
  margin-top: 10px;
  font-size: 16px;
}

.rating {
  color: #ffc75f;
}

.button-group {
  display: flex;
  justify-content: start;
  margin-top: 20px;
}

.info-btn,
.book-btn {
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.qtaBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3c0062;
  padding: 20px 10px;
  border-radius: 10px;
  margin-right: 2%;
}

.qtaBox p {
  padding: 0;
  margin: 0;
}

.qtaBox input {
  text-align: center !important;
  color: white;
}

.info-btn {
  width: 50px;
  height: 20px;
  background-color: #3c0062;
  margin-right: 10px;
}

.book-btn {
  background-color: #e5e5e5;
  color: #2b3467;
}

.info-btn:hover,
.book-btn:hover {
  background-color: #ffc75f;
}

.view-cart {
  text-align: ;
  margin-top: 20px;
}

.view-cart button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #fca311;
  color: #2b3467;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.view-cart button:hover {
  background-color: #ffc75f;
}

.FilterCon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: #3c0062;
  height: 50px;
  padding: 3% 6%;
}

.LeftUtil {
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.LeftUtil p {
  margin-top: 25px;
}

.RightUtil {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 50px;
}

.RightUtil p {
  margin-top: 25px;
}

.RightUtil button {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.648);
  border: none;
  border-radius: 10px;
  font-size: 20px;
}
