body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topNav {
    overflow: hidden;
    background-color: #FFFFFF;
    }
    /*opacity for nav?*/
    
    .topNav a {
    float: left;
    color: #707070;
    text-align: center;
    padding: 16px 20px;
    text-decoration: none;
    font-size: 20px;
    text-decoration: none;
    }
    
    
    .topNavRight {
    float: right;
    }
    
    .topNav a:hover {
    background-color: #FF2D00;
    color: #FFFFFF;
    }
    
    .topNav a.active {
    background-color: #9530FF;
    color: #FFFFFF;
    }

    .button {
        background-color: #f44336;
        border: none;
        color: #FFFFFF;
        padding: 10px 24px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 10px;
        border-radius: 8px;
        }

        hover {
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(255, 0, 0, 0.19);
          }