body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

.HomeHeader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.logo {
  float: left;
  margin-left: 20px;
}

nav {
  background-color: rgba(255, 255, 255, 0.648);
  border-radius: 25px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  margin-left: 2em;
  margin-right: 2em;
}

.navLinks {
  list-style: none;
  display: flex;
  justify-content: center;
}

.navLinks li {
  margin: 0 10px;
}

.navLinks a {
  text-decoration: none;
}

.active {
  color: red;
}

.flights,
.contact {
  color: #333;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-container input[type="text"] {
  padding: 5px;
  border-radius: 10px;
}

.search-container button {
  background: none;
  border: none;
}

.basket {
  position: relative;
  margin-left: 10px;
}

.basket img {
  width: 30px;
}

.badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px;
  font-size: 12px;
}

@font-face {
  font-family: "Porter Sans Block";
  src: url(../assets/Red\ Planet\ Ventures/Fonts) format("woff");
}

.home-page {
  display: flex;
  content: "";
  justify-content: flex-start;
  align-items: flex-end;
  margin: 2em;
  padding: 16px;
  height: 45rem;
  background-image: url(../assets/Red\ Planet\ Ventures/.HomeHeader);
}

.home-text {
  font-size: 2em;
  color: black;
}

.title {
  font-size: 2em;
  color: black;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  background-color: #590091;
  padding: 2em;
}

.image-container {
  position: relative;
  width: 100%;
  max-width: 500px;
}

.image-container img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.arrow-container {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.arrow {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.content {
  margin-top: 20px;
  padding: 0 20px;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
}

h2 {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 8px;
  display: flex;
  align-items: flex-start;
}

h1 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 16px;
  display: flex;
  align-items: flex-start;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 24px;
  display: flex;
  align-items: flex-start;
}

.book-now {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.book-now:hover {
  background-color: #e65c00;
}

.container-os {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  background-color: white;
  padding: 2em;
}

.image-container-os {
  position: relative;
  width: 100%;
  max-width: 500px;
}

.image-container-os img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.content-so {
  margin-top: 20px;
  padding: 0 20px;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
}

.container-td {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #590091;
  padding: 2em;
}

.section-title {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 8px;
}

.main-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 24px;
}

.trip-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-bottom: 24px;
}

.trip-card {
  background-color: #3e1d66;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.trip-card-image {
  width: 80px;
  height: 80px;
  border-radius: 20%;
  margin-bottom: 12px;
  background-size: cover;
  background-position: center;
}

.mars {
  background-image: url("../assets/Red Planet Ventures/Assets/Images/flighhtMars.png");
}

.neptune {
  background-image: url("../assets/Red Planet Ventures/Assets/Images/flightNeptune.png");
}

.jupiter {
  background-image: url("../assets/Red Planet Ventures/Assets/Images/flightJupiter.png");
}

.saturn {
  background-image: url("../assets/Red Planet Ventures/Assets/Images/flightSaturn.png");
}

.trip-card-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
}

.trip-card-description {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
}

.book-trip-btn {
  background-color: #ff6f00;
  color: #fff;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.book-trip-btn:hover {
  background-color: #e65c00;
}

/* Footer */

.footer {
  background-color: white;
  color: black;
  font-family: "Roboto", sans-serif;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  flex-direction: row;
}

.company-info {
  font-size: 24px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
}

.tagline {
  font-size: 14px;
  font-weight: 400;
  margin-left: 10px;
}

.footer-nav {
  display: flex;
  align-items: center;
}

.nav-links,
.social-links {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2em;
}

.nav-links span,
.social-links span {
  font-weight: 700;
  margin-right: 10px;
}

.sm-item {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.nav-links a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  margin-right: 20px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #ff6f00;
}

.social-links a {
  color: #9370db;
  margin-left: 15px;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #ff6f00;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.legal-text {
  font-size: 14px;
  margin: 0;
}

.links a {
  color: black;
  text-decoration: none;
  margin-left: 20px;
  transition: color 0.3s ease;
}

.links a:hover {
  color: #ff6f00;
}

.fab {
  font-size: 24px;
  margin-left: 10px;
  height: 24px;
  width: 24px;
}
